header{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
}
.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    flex-wrap: wrap;
    background-color: var(--preto-0);
    gap:600px;
}
.logo{
    display: flex;
    align-items: center
}
.icono{
    background-size: cover;
    width: 50px;
    background-image: transparent;
}

.busqueda{
    display: flex;
    align-items: center;
    background-color: #ceecfb;
    padding: 0.5rem;
    border-radius: 20px;
    /* width: ; */
}

.busqueda__logo{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}
.busqueda input{
    border: none;
    width: fit-content;
    background-color: transparent;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;

}
.busqueda input:focus{
    outline:0;
}
.busqueda button{
    display: flex;
    justify-content: center;
    background-color: transparent;
    border:none;
    width: 21px;
    height: 21px;
}
.busqueda button img{
    height: 100%;
    filter: sepia(100%) contrast(10%) saturate(500%) hue-rotate(423deg);
}

.login button{
    background-color: transparent;
    border:2px solid #95bdf2;
    transition: ease 0.2s;
    width: 60px;
    height: 30px;
}
.login button:focus{
    background-color: #95bdf2;
    transform-box:  fill-box ;
}

@media screen and (max-width:1200px) {
    .header{
        gap:10px;
    }
}