.contacto__banner{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.hablemos{
    width: fit-content;
    display: flex;
    flex-direction: column;
}

form{
    display: flex;
    flex-direction: column;
}