.linea__productos{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}
.caja{
    display: flex;
    flex-direction: column;
    padding: 0 60px;
    position: relative;
}

